<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-cwe9-1200w.png"
      class="component-pasted-image"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-xyy-200h.png"
      class="component-pasted-image1"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-5pcs-200h.png"
      class="component-pasted-image2"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-4tb-200h.png"
      class="component-pasted-image3"
    />
    <img
      alt="pastedImage"
      src="public/playground_assets/pastedimage-hxh-200h.png"
      class="component-pasted-image4"
    />
  </div>
</div>
