<div>
  <link href="./menu.css" rel="stylesheet" />
  <div class="menu-container">
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d1225fa3-4aa3-4b3d-b7c8-949cbfce1b79/8940ae26-5b48-4b94-b8fa-4aab97c53b6b?org_if_sml=149610"
      class="menu-pasted-image"
    />
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d1225fa3-4aa3-4b3d-b7c8-949cbfce1b79/928b0d9e-c75a-43e0-9d4c-ede60ec11e22?org_if_sml=11046"
      class="menu-pasted-image1"
    />
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d1225fa3-4aa3-4b3d-b7c8-949cbfce1b79/1aae596b-a006-448f-a8c4-3a9d8b253961?org_if_sml=11046"
      class="menu-pasted-image2"
    />
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d1225fa3-4aa3-4b3d-b7c8-949cbfce1b79/1e4e27c8-9ad2-49ef-9b04-d99481654031?org_if_sml=11046"
      class="menu-pasted-image3"
    />
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d1225fa3-4aa3-4b3d-b7c8-949cbfce1b79/dbff2fd4-c189-45e8-9566-3c1762e60908?org_if_sml=11046"
      class="menu-pasted-image4"
    />
  </div>
</div>
